{% extends "bootstrap/base.html" %}
<style type="text/css">
    .qu-table{
        margin-top: 200px;
    }

</style>
{% block title %}This is an example page{% endblock %}

{% block content %}
<div class="container">
    <div class="qu-table">
    <table class="table table-striped">
        <tr>
            <td>问题</td>
            <td>作者</td>
            <td>回答</td>
            <td colspan="2" align="center">操作</td>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question.question }}</td>
            <td>{{ question.author }}</td>
            <td>{{ question.answer }}</td>
            <td align="center"><a href="/edit_question/{{ question.id }}">编辑</a></td>
            <td align="center"><a href="/del_question/{{ question.id }}">删除</a></td>
        </tr>
        {% endfor %}
    </table></div>
    <a href="" class="btn btn-primary">添加</a>
</div>

{% endblock %}

